{% extends "base.html" %}
{% load static %}
{% block post %}
<div class="col-sm-8">
	<article class="single-blog">
		<div class="post-thumb">
			<div class="post-content">
                <img class="img-error" src="{% static 'img/me.png' %}">
				<div class="entry-header text-center">
					<h2>تماس و درباره امیر!</h2>
					<p>
                        امیر هستم، فعلا دانشجوی کامپیوتر دانشگاه بیرجند و عاشق یاد دادن و یاد گرفتن تکنولوژیجات!
                        <br/>
                        خوشحال میشم اگه پیشنهاد، انتقاد، ناسزا (!!) یا هر چیز دیگه ای که فکر میکنید باعث میشه بهتر بنویسم رو با یکی از راه های زیر باهام در میون بذارید:
                        <br/>
                    </p>
				</div>
                <div class="continue-reading text-center">
                    <a href="/">برگردیم</a>
                </div>
            </div>
        
	</article>
</div>
{% endblock %}