<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Page Title -->
	<title>کامپیوترپیشه</title>
	<!-- Fonts -->
	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Scripts -->
<script src="{% static 'js/shrink.js' %}"></script>

<header id="header">
	<nav class="navbar  navbar-default">
		<div class="container">
			<a href="archive-cat.html">خانه</a>
			<a href="archive-cat.html">درباره و تماس با من</a>
		</div>
	</nav>
</header>
<div class="default-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<article class="single-blog">
					<div class="post-thumb">
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">
							<h2><a href="single-page.html">پست اول</a></h2>
						</div>
						<div class="entry-content">
							<p>اینجا متن هر پست قراره باشه و فعلا با این چرندیات پرش کردم
								<br/>
								پس فعلا هیچی نمیذارم!!!!
								<br/>
								اوکی؟ ...</p>
						</div>
						<div class="continue-reading text-center">
							<a href="single-page.html">ادامه مطلب</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="date">۲۱ شهریور ۱۳۹۷ منتشر شده در</li>
								<a href="" class="post-cat">برنامه نویسی</a>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-pinterest"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								<li><a href=""><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
				<article class="single-blog">
						<div class="post-thumb">
						<div class="post-content">
							<div class="entry-header text-center text-uppercase">
								<h2><a href="single-page.html">پست اول</a></h2>
							</div>
							<div class="entry-content">
								<p>اینجا متن هر پست قراره باشه و فعلا با این چرندیات پرش کردم
									<br/>
									پس فعلا هیچی نمیذارم!!!!
									<br/>
									اوکی؟ ...</p>
							</div>
							<div class="continue-reading text-center">
								<a href="single-page.html">ادامه مطلب</a>
							</div>
							<div class="post-meta">
								<ul class="pull-left list-inline author-meta">
									<li class="date">۲۱ شهریور ۱۳۹۷ منتشر شده در</li>
									<a href="" class="post-cat">برنامه نویسی</a>
								</ul>
								<ul class="pull-right list-inline social-share">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-pinterest"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</article>
					<article class="single-blog">
							<div class="post-thumb">
							<div class="post-content">
								<div class="entry-header text-center text-uppercase">
									<h2><a href="single-page.html">پست اول</a></h2>
								</div>
								<div class="entry-content">
									<p>اینجا متن هر پست قراره باشه و فعلا با این چرندیات پرش کردم
										<br/>
										پس فعلا هیچی نمیذارم!!!!
										<br/>
										اوکی؟ ...</p>
								</div>
								<div class="continue-reading text-center">
									<a href="single-page.html">ادامه مطلب</a>
								</div>
								<div class="post-meta">
									<ul class="pull-left list-inline author-meta">
										<li class="date">۲۱ شهریور ۱۳۹۷ منتشر شده در</li>
										<a href="" class="post-cat">برنامه نویسی</a>
									</ul>
									<ul class="pull-right list-inline social-share">
										<li><a href=""><i class="fa fa-facebook"></i></a></li>
										<li><a href=""><i class="fa fa-twitter"></i></a></li>
										<li><a href=""><i class="fa fa-pinterest"></i></a></li>
										<li><a href=""><i class="fa fa-google-plus"></i></a></li>
										<li><a href=""><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</article>
			</div>
			<div class="col-sm-4">
				<div class="sidebar">
					<aside class="widget about-me-widget  text-center">
						<div class="about-me-content">
							<div class="about-me-img">
								<img src="{% static 'img/me.png' %}" alt="" class="img-me img-circle">
								<h2 class="text-uppercase">سلام</h2>
								<p>خب این منم! امیر محمدی
								<br/>
									همون «پسرک کامپیوترپیشه» جویای نام (:
								<br/>
									عاشق وَر رفتن با یه سری موجود دودویی که ظاهرا بهشون میگن کامپیوتر! 
								</p>
							</div>
						</div>
					</aside>
					<aside class="widget widget-popular-post">
						<h3 class="widget-title text-uppercase text-center">پر بازدیدها</h3>
						<ul>
							<li>
								<div class="p-content">
									<h4><a href="#" class="text-uppercase">با شونه قهرم!</a></h4>
									<span class="p-date">۲ آذر ۹۷ </span>
								</div>
							</li>
						</ul>
					</aside>
					<aside class="widget widget-popular-post">
							<h3 class="widget-title text-uppercase text-center">لینکهای دوستداشتنی</h3>
							<ul>
								<h4><a href="#" class="text-uppercase">کیبورد آزاد</a></h4>
								<h4><a href="#" class="text-uppercase">سحر شاکر</a></h4>
							</ul>
						</aside>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container-fluid text-center ft-copyright">
		<p>
			<a href="">ساخته و پرداخته شده توسط خودم (: </a>
		</p>
	</div>
</footer>
</body>
</html>