{% extends "base.html" %}
{% load static %}
{% block content %}
<body style="height: 100%;">
	<div class="bg">
		<div class="img-title">
			روزنوشتهای یک کامپیوترپیشه! از لینوکس و برنامه نویسی گرفته تا درس و مشق و دانشگاه    
		</div>
	</div> 
</body>
{% endblock %}
{% block post %}
<div class="col-sm-8">
	{% for post in posts %}
	<article class="single-blog">
		<div class="post-thumb">
			{% if post.head_image %}
			<img style="width: 100%" src="/media/{{ post.head_image }}">							
			{% endif %}
			<div class="post-content">
				<div class="entry-header text-center">
					<h2><a href="/post/{{ post.pk }}">{{ post.header }}</a></h2>
				</div>
				<div class="entry-content">
					<p>
						{{ post.content | safe | truncatewords:40 }}
					</p>
				</div>
				<div class="continue-reading text-center">
					<a href="/post/{{ post.pk }}">ادامه مطلب</a>
				</div>
				<div class="post-meta">
					<ul class="list-inline author-meta">
						<li class="date">{{ post.time }}</li>
						<li class="meta-text">منتشر شده در</li>
						<a href="" class="post-cat">{{ post.tag }}</a>
					</ul>
				</div>
		</div>
	</article>
	<!-- Pagination -->
	{% endfor %}
	{% if posts.has_other_pages %}
	<div style="text-align: center; width: 100%; direction: ltr">
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <div class="pagination active"><a>{{ i }}</a></div>
	  {% else %}
	  <div class="pagination deactive text-center">
		<a href="?page={{ i }}">{{ i }}</a>
	  </div>
      {% endif %}
    {% endfor %}
  	</div>
	{% endif %}
</div>
{% endblock %}